
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Arial, sans-serif;
        }
        h1, h3 {
            margin: 0;
        }
        .images-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .images-container div {
            margin: 0 10px; 
        }
        .vote-button, .skip-button {
            width: 300px;
            background-color: #4CAF50; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 8px;
        }
        .vote-button:hover, .skip-button:hover {
            background-color: #45a049; 
        }
        .vote-button a, .skip-button a {
            color: white;
            text-decoration: none;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5); 
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            text-align: center;
            border-radius: 8px;
        }
    