<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1 align="center"><u>R E S U L T S</u></h1>
    <br>
    <h4 align="center"><U>SENIOR PREFECTS</U></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>

    <h4 align="center"><u>COMPOUND OVERSEERS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block;margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
        <div style="display: inline-block;margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>


    <h4 align="center"><u>PROTOCOL PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>


    <h4 align="center"><u>DINNING HALL PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>


    <h4 align="center"><u>SPORTS PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>


    <h4 align="center"><u>PREP PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>


    <h4 align="center"><u>ENTERTAINMENT PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>


    <h4 align="center"><u>CHAPEL PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>


    <h4 align="center"><u>UTILITY PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>


    <h4 align="center"><u>LIBRARY PREFECTS</u></h4>
    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    
                    <tr>
                        <td colspan="2">BOYS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    
        <div style="display: inline-block; margin-left: 20px;">
            <span>
                <table align="center" border="1" style="width: 500px; height: 200px; border-collapse: collapse; border: 2px solid black;">
                    <tr>
                        <td colspan="2">GIRLS</td>
                    </tr>
                    <tr>
                        <td>CANDIDATE</td><td>VOTE(S)</td>
                    </tr>
                    <tr>
                        <td>candidate 1</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 2</td><td></td>
                    </tr>
                    <tr>
                        <td>candidate 3</td><td></td>
                    </tr>
                </table>
            </span>
        </div>
    </div>
    <br>
    
    
    
    
    
</body>
</html>